.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}

@keyframes -animation{
                10%{
                     background-color: yellow;
                }
                20%{
                     background-color: blue;
                }
                30%{
                     background-color: red;
                }
                40%{background-color: #FF007C;}
    
        }
                     
            body{ 
              width: none;
              height: none;
              animation: -animation 4s infinite linear alternate;
            }